/* Write your CSS here */
.appointments-item {
  display: flex;
  justify-content: space-between;
}
.appointments-item-container {
  list-style: none;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px #b5b7c4;
  width: 200px;
}
.appointments-name {
  color: #171f46;
  font-size: 17px;
  font-family: Roboto;
}
.appointments-star-btn {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
.appointments-date {
  font-size: 11px;
  color: #b5b7c4;
  font-family: Roboto;
}
.appointment {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}
